@{
  Layout = null;
}
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
  "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
  <title>Jasmine Spec Runner</title>

  <link rel="shortcut icon" type="image/png" href="/Content/jasmine/jasmine_favicon.png">
  <link rel="stylesheet" type="text/css" href="/Content/jasmine/jasmine.css">
  <script type="text/javascript" src="/Scripts/jasmine/jasmine.js"></script>
  <script type="text/javascript" src="/Scripts/jasmine/jasmine-html.js"></script>
  <script type="text/javascript" src="/Scripts/jasmine/boot.js"></script>
    <script src="~/Scripts/angular.js"></script>
    <script src="~/Scripts/angular-resource.js"></script>
    <script src="~/Scripts/angular-mocks.js"></script>
    <script src="~/Scripts/angular-route.js"></script>
    <script src="~/Scripts/angular-loader.js"></script>
    <script src="~/Scripts/dependencies/app.js"></script>

    <script src="~/Scripts/dependencies/mainDirective.js"></script>
    <script src="~/Scripts/dependencies/service.js"></script>
    <script src="~/Scripts/dependencies/modelService.js"></script>
    <script src="~/Scripts/dependencies/weatherService.js"></script>

    <!-- About controller... -->
    <script src="~/Scripts/dependencies/aboutController.js"></script>
    <script src="~/Scripts/tests/aboutController-spec.js"></script>

    <!-- main controller... -->
    <script src="~/Scripts/dependencies/mainController.js"></script>
    <script src="~/Scripts/tests/mainController-spec.js"></script>

    <!-- contact controller... -->
    <script src="~/Scripts/dependencies/contactController.js"></script>
    <script src="~/Scripts/tests/contactController-spec.js"></script>

    <!-- weather controller... -->
    <script src="~/Scripts/dependencies/weatherController.js"></script>
    <script src="~/Scripts/tests/weatherController-spec.js"></script>

    <!-- weather service... -->
    <script src="~/Scripts/dependencies/weatherService.js"></script>
    <script src="~/Scripts/tests/weatherService-spec.js"></script>
</head>

<body>
</body>
</html>
