/*/*body {
    padding-top: 50px;
    padding-bottom: 20px;
}

.grid-style {
    border: 1px solid rgb(212,212,212);
    min-height: 250px;
    max-height: 300px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.user-details {
    margin-top: 50px;
}

.gender-text {
    margin: 0 5px;
    vertical-align: sub;
}
body {
    background: url('../img/blur-bg.jpg') #D28E6A no-repeat;
    font-family: "Roboto Condensed",Arial;
    -webkit-text-stroke: 0.35px;
    margin-top: 60px;
}

.container {
    max-width: 960px;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: inherit;
}

.bg {
    background-image: url('../img/bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
    width: 100%;
    margin: 0 auto;
    padding: 10px 25px 25px 25px;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

    .bg .title {
        color: #FFF;
    }

.text-center {
    text-align: center;
}

.temp-title {
    font-size: 20px;
    font-weight: 300;
    color: #FFF;
    line-height: 1.8em;
    text-shadow: rgba(0,0,0,.01) 0 0 1px;
}

.weather-days {
    text-align: center;
    background-color: rgba(50, 84, 116, 0.45);
    height: 160px;
    width: 16.666666667%;
    border-left: 1px solid rgba(247, 247, 247, 0.28);
}

    .weather-days .badge {
        display: inline-block;
        min-width: 10px;
        padding: 5px 8px;
        font-size: 12px;
        font-weight: normal;
        color: #fff;
        line-height: 1;
        vertical-align: baseline;
        white-space: nowrap;
        text-align: center;
        background-color: #6D788F;
        border-radius: 13px;
    }

.speed {
    color: #DCE9D7;
    font-weight: 300;
}

.weather-days div {
    margin: 42% 0;
}

.today {
    background-color: rgba(43, 156, 192, 0.34);
}

    .today .temp-title {
        font-size: 32px;
        line-height: 1.3em;
    }

.inline-content {
    display: inline;
}

.row {
    margin-left: -15px;
    margin-right: -15px;
}
.myflexbox {
     display: -webkit-box; /* or inline-flex 
    display: flex;
}
.square-size {
    width: 500px;
}*/

.btn-big {
    color: #fff;
    width: 400px;
    height: 400px;
    border-left: 1px solid rgba(247, 247, 247, 0.28);
    display: inline-block;
    text-align: center;
    flex-direction: column;
}

.btn-small {
    color: #fff;
    width: 200px;
    height: 200px;
    border-left: 12px solid #fff;
    display: inline-block;
    text-align: center;
    flex-direction: column;
}

.last {
    margin-right: 0 !important;
}

.red {
    background: #df0024;
}

.blue {
    background: #00a9ec;
}

.orange {
    background: #ff9000;
}

.green {
    background: #0026ff;
}

.page {
    margin-top: 50px;
}

.wrap {
    width: 900px;
    height: 1000px;
    margin-top: 50px;
    display: -webkit-box; /* or inline-flex */
    display: flex;
    flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
}

/* entire container, keeps perspective */
.flip-container {
    perspective: 1000;
    transform-style: preserve-3d;
}
    /*  UPDATED! flip the pane when hovered */
    .flip-container:hover .back {
        transform: rotateY(0deg);
    }

    .flip-container:hover .front {
        transform: rotateY(180deg);
    }

.flip-container, .front, .back {
    width: 200px;
    height: 300px;
}

/* flip speed goes here */
.flipper {
    transition: 0.6s;
    transform-style: preserve-3d;
    position: relative;

}

/* hide back of pane during swap */
.front, .back {
    backface-visibility: hidden;
    transition: 0.6s;
    transform-style: preserve-3d;
    position: absolute;
    top: 0;
    left: 0;
}

/*  UPDATED! front pane, placed above back */
.front {
    z-index: 2;
    transform: rotateY(0deg);
   
}

/* back, initially hidden pane */
.back {
    transform: rotateY(-180deg);
}

/* 
	Some vertical flip updates 
*/
.vertical.flip-container {
    position: relative;
}

.vertical .back {
    transform: rotateX(180deg);
}

.vertical.flip-container:hover .back {
    transform: rotateX(0deg);
}

.vertical.flip-container:hover .front {
    transform: rotateX(180deg);
}


.ico-01d {
    background: url(weather/01d.png) no-repeat;
    width: 64px;
    height: 64px;
    border: none;
    display: inline-block;
}

.ico-02d {
    background: url(weather/02d.png) no-repeat;
    width: 64px;
    height: 64px;
    border: none;
    display: inline-block;
}
.ico-03d {
    background: url(weather/03d.png) no-repeat;
    width: 64px;
    height: 64px;
    border: none;
    display: inline-block;
}
.ico-04d {
    background: url(weather/04d.png) no-repeat;
    width: 64px;
    height: 64px;
    border: none;
    display: inline-block;
}
.ico-01n {
    background: url(weather/01n.png) no-repeat;
    width: 64px;
    height: 64px;
    border: none;
    display: inline-block;
}
.ico-02n {
    background: url(weather/02n.png) no-repeat;
    width: 64px;
    height: 64px;
    border: none;
    display: inline-block;
}
.ico-03n {
    background: url(weather/03n.png) no-repeat;
    width: 64px;
    height: 64px;
    border: none;
    display: inline-block;
}
.ico-04n {
    background: url(weather/04n.png) no-repeat;
    width: 64px;
    height: 64px;
    border: none;
    display: inline-block;
}
.ico-09d {
    background: url(weather/09d.png) no-repeat;
    width:  64px;
    height:  64px;
    border: none;
    display: inline-block;
}
.ico-09n {
    background: url(weather/09n.png) no-repeat;
    width:  64px;
    height:  64px;
    border: none;
    display: inline-block;
}
.ico-10d {
    background: url(weather/10d.png) no-repeat;
    width:  64px;
    height:  64px;
    border: none;
    display: inline-block;
}
.ico-10n {
    background: url(weather/10n.png) no-repeat;
    width:  64px;
    height:  64px;
    border: none;
    display: inline-block;
}
.ico-11d {
    background: url(weather/11d.png) no-repeat;
    width:  64px;
    height:  64px;
    border: none;
    display: inline-block;
}
.ico-11n {
    background: url(weather/11n.png) no-repeat;
    width:  64px;
    height:  64px;
    border: none;
    display: inline-block;
}
.ico-13d {
    background: url(weather/13d.png) no-repeat;
    width:  64px;
    height:  64px;
    border: none;
    display: inline-block;
}
.ico-13n {
    background: url(weather/13n.png) no-repeat;
    width:  64px;
    height:  64px;
    border: none;
    display: inline-block;
}
.ico-50d {
    background: url(weather/50d.png) no-repeat;
    width:  64px;
    height:  64px;
    border: none;
    display: inline-block;
}
.ico-50n {
    background: url(weather/50n.png) no-repeat;
    width: 64px;
    height:  64px;
    border: none;
    display: inline-block;
}
