<div class="jumbotron">
    <h1>Weather Service.</h1>
    <p class="lead">Serwis pogodowy. Technologie Aplikacji Internetowych.</p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Weather Sevice</h2>
        <p>Serwis zwaracajacy prognoze pogody. Projekt z przedmiotu Technilogie Aplikacji Internetowych.</p>
    </div>
</div>
