<div>
   
    <div class="jumbotron">
        <h1>Temat pracy</h1>
        <p class="lead">Jakis temat pracy.</p>
        
    </div>

    <div ng-view></div>

    <div class="row">
        <div class="col-md-4">
            <h2>Getting started</h2>
            <p>
                Application show how to works SPA and MVC model using Asp .Net
            </p>
            <p><a class="btn btn-default" href="#About">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Get your weather.</h2>
            <p>Show me weather.</p>
            <p><a class="btn btn-default" href="#Weathers2">Get weather &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Project description</h2>
            <p>Project description about this single page application.</p>
            <p><a class="btn btn-default" href="#Documents">Show documentation</a></p>
        </div>
    </div>
</div>

@section scripts{
    <script type="text/javascript" src="~/app/getLocation.js"></script>
}