@{
    Layout = null;
}
<h2>O projekcie</h2>
<div class="well well-large">
    Projekt z przedmiotu Technologie Aplikacji Internetowych.<strong>TEMAAT PRoJETKu</strong>. Projet korzysta z frawewroku AngularJS po stronie klineta.
    Jako kontener DI wykorzystany jest kontener Autofac. Informacje o Autofac można znaleźć pod adresem
    <p>
        <a class="btn btn-default" href="http://autofac.org/">Do strony serwisu &raquo;</a>
    </p>.
    Testy integracyjne wykonane przy wykorzystanui Jasimine oraz test runner chutzpah (phantomjs)
    <p>
        <a class="btn btn-default" href="http://jasmine.github.io/">Jasmine &raquo;</a>
    </p>.
    Wykonano również serwis REST-owy. Serwis zwarca informację pogodowe. <p>
    <a class="btn btn-default" href="http://localhost/weatherapi/">Serwis &raquo;</a>
    </p>.
    Ostatni wykorzystany komponent to baza daynych. Microsoft SQL Server 2014.
</div>