
@{
    Layout = null;
}


    <div class="jumbotron" >
        <h1>Aplikacja pogodowa.</h1>
        <p class="lead">Projekt z przedmiotu Technologie aplikacji internetowych.</p>
    </div>
    <div class="row">
        <div class="col-md-4">
            <h2>Serwis pogodowy</h2>
            <p>
                Wykonano serwis pogodwy komunikoujacy sie z dwoma zwenetrznymi serwisami. W przypadku braku dostepu do internetu, pobiera dane z bazy danych.
            </p>
            <p><a class="btn btn-default" href="http://localhost/weatherapi">Do strony serwisu &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>AngularJS</h2>
            <p>W projekcie wykorzystano framework AngularJS.</p>
            <p><a class="btn btn-default" href="https://angularjs.org/">Zobacz &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>ASP .NET MVC</h2>
            <p>Aplikacja napisana w frameworku ASP .NET MVC5.</p>
            <p><a class="btn btn-default" href="http://www.asp.net/mvc">Strona domowa &raquo;</a></p>
        </div>
    </div>
</div>

