
<div ng-controller="WeathersController" class="container page">
    <div>
        <h1>{{myData[0].locationName}}</h1>
    </div>
    <div class="wrap">
       
        <div ng-repeat="x in myData">
            
            <div class="btn-big red" ng-repeat="curr in x.weather.curren_weather">
                <div><h3>{{getDatetime | date:'yyyy-MMM-dd' }}</h3></div>
                <div><span>{{ curr.temp }}&deg</span></div>
                <div><span>{{ curr.weather_text }}</span></div>
            </div>
        </div>
        <div ng-repeat="x in myData">
            <div class="btn-small green" ng-repeat="Emp in x.weather.forecast">
                <div><h3>{{ Emp.date }}</h3></div>
                <div><span>{{ Emp.day_max_temp }}&deg</span></div>
                <div><span>{{ Emp.night_min_temp }}</span></div>
            </div>
        </div>
    </div>
</div>
