<div class="container">
    <div class="row">
        <div class="span10">
            <h2>Weather</h2>
        </div>
    </div>
    <div>
        <div>
            <table class="table table-condensed table-hover">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Temperature</th>
                        <th>Unit</th>
                        <th>Comments</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repead="w in Weathers.CurrentWeather">
                        <td>{{w.Humidity}}</td>
                        <td>{{w.Pressure}}</td>
                        <td>{{w.Code}}</td>
                        <td>{{w.Comments}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>